@media (min-width: 600px) {
.Nav_Container{
    background-color: rgba(0, 0, 0);
    margin-top: 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 100;
    margin: 5px;
    padding: 5px;
}

.Nav_Container img{
border-radius: 5px;
margin-bottom: 20px;
}

.Nav_Container a{
    font-size: 35px;
    color: rgb(55, 134, 52);
}
#Close_Nav_Btn{
    margin-top: 10px;
    position:absolute;
    border-radius:20px;
    border-color: 0,0,0,0;
    background-color: rgb(182, 48, 48);
    width: 50px;
    height: 50px;
}

.Landing_Container{
    background-color: rgb(223, 211, 211,.6);
    position: absolute;
    z-index: 100;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 300px;
}

.Landing_Container h3{
    margin-bottom: 5px;
}
.Landing_Container h1{
    margin-top: -15px;
}
.Landing_Container img{
    margin-top: -15px;
}
li{
    list-style: none;
}
#Close_Landing_Btn{
    margin-top: 20px;
    margin-left: -165px;
    position:absolute;
    border-radius:20px;
    border-color: 0,0,0,0;
    background-color: rgb(182,48,48);
    width: 50px;
    height: 50px;
}
}
@media (max-width: 599px) {

    .Landing_Container{

        background-color: rgb(223, 211, 211,.8);
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 90%;
        z-index: 100;
        margin-top: 5%;
        border-style: solid;
        border-radius: 5px;
        border-color: rgb(223, 211, 211);
        text-align: center;

    }
    .Landing_Container img{
        margin-top: -5px;
        margin-bottom: -15px;
    }
    #Close_Landing_Btn{
        margin-top: 10px;
        margin-left: 37%;
        position:absolute;
        border-radius:20px;
        border-color: 0,0,0,0;
        background-color: rgb(182,48,48);
        width: 50px;
        height: 50px;
    }

    .Nav_Container{
        background-color: rgba(0, 0, 0);
        margin-top: 10px;
        border-radius: 5px;
        position: absolute;
        left: 50vw;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 90vw;
        height: 350px;
        z-index: 100;
    }

    .Nav_Header img{
        margin-top: 20px;
        width: 100%; 
        height: 240px;
    }
    .Nav_Container a{
        margin-left: 5px;
        font-size: 25px;
        color: rgb(55, 134, 52);
    }
    .Nav_Container img{
        border-radius: 5px;
        margin-bottom: 0px;
    }

    li{
        list-style: none;
    }
    #Close_Nav_Btn{
        margin-top: 35px;
        margin-left: 85%;
        position:absolute;
        border-radius:20px;
        border-color: 0,0,0,0;
        background-color: rgb(182, 48, 48);
        width: 50px;
        height: 50px;
    }

}
